<a href="https://colab.research.google.com/github/Chandan975/python-library/blob/main/Pandas_datetime_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import necessary Python packages
import pandas as pd
import datetime as dt
import numpy as np

# **Different ways to create Timestamp**

In [ ]:
# 1.
pd.Timestamp(dt.datetime(2014, 5, 1))

Timestamp('2014-05-01 00:00:00')

In [ ]:
# 2
pd.Timestamp('2014-06-01')

Timestamp('2014-06-01 00:00:00')

In [ ]:
# 3
pd.Timestamp(2014, 6, 1)

Timestamp('2014-06-01 00:00:00')

# **Create Period**

In [ ]:
pd.Period('2014-06')

Period('2014-06', 'M')

In [ ]:
help(pd.Period())

Help on NaTType in module pandas._libs.tslibs.nattype object:

class NaTType(_NaT)
 |  (N)ot-(A)-(T)ime, the time equivalent of NaN.
 |
 |  Method resolution order:
 |      NaTType
 |      _NaT
 |      datetime.datetime
 |      datetime.date
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __new__(cls)
 |
 |  __rdiv__(self, other)
 |
 |  __reduce__(self)
 |
 |  __reduce_ex__(self, protocol)
 |
 |  __rfloordiv__(self, other)
 |
 |  __rmul__(self, other)
 |
 |  __rtruediv__(self, other)
 |
 |  astimezone(*args, **kwargs)
 |      Convert tz-aware Timestamp to another time zone.
 |
 |      Parameters
 |      ----------
 |      tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |          Time zone for time which Timestamp will be converted to.
 |          None will remove timezone holding UTC time.
 |
 |      Returns
 |      -------
 |      converted : Timestamp
 |
 |      Raises
 |      ------
 |      TypeError
 |          If Timestamp is tz-naive.
 |
 |      Examples
 |      --------
 |      Create a timestamp object with UTC timezone:
 |
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651', tz='UTC')
 |      >>> ts
 |      Timestamp('2020-03-14 15:32:52.192548651+0000', tz='UTC')
 |
 |      Change to Tokyo timezone:
 |
 |      >>> ts.tz_convert(tz='Asia/Tokyo')
 |      Timestamp('2020-03-15 00:32:52.192548651+0900', tz='Asia/Tokyo')
 |
 |      Can also use ``astimezone``:
 |
 |      >>> ts.astimezone(tz='Asia/Tokyo')
 |      Timestamp('2020-03-15 00:32:52.192548651+0900', tz='Asia/Tokyo')
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.tz_convert(tz='Asia/Tokyo')
 |      NaT
 |
 |  ceil(*args, **kwargs)
 |      Return a new Timestamp ceiled to this resolution.
 |
 |      Parameters
 |      ----------
 |      freq : str
 |          Frequency string indicating the ceiling resolution.
 |      ambiguous : bool or {'raise', 'NaT'}, default 'raise'
 |          The behavior is as follows:
 |
 |          * bool contains flags to determine if time is dst or not (note
 |            that this flag is only applicable for ambiguous fall dst dates).
 |          * 'NaT' will return NaT for an ambiguous time.
 |          * 'raise' will raise an AmbiguousTimeError for an ambiguous time.
 |
 |      nonexistent : {'raise', 'shift_forward', 'shift_backward, 'NaT', timedelta}, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          * 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time.
 |          * 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time.
 |          * 'NaT' will return NaT where there are nonexistent times.
 |          * timedelta objects will shift nonexistent times by the timedelta.
 |          * 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times.
 |
 |      Raises
 |      ------
 |      ValueError if the freq cannot be converted.
 |
 |      Examples
 |      --------
 |      Create a timestamp object:
 |
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651')
 |
 |      A timestamp can be ceiled using multiple frequency units:
 |
 |      >>> ts.ceil(freq='H') # hour
 |      Timestamp('2020-03-14 16:00:00')
 |
 |      >>> ts.ceil(freq='T') # minute
 |      Timestamp('2020-03-14 15:33:00')
 |
 |      >>> ts.ceil(freq='S') # seconds
 |      Timestamp('2020-03-14 15:32:53')
 |
 |      >>> ts.ceil(freq='U') # microseconds
 |      Timestamp('2020-03-14 15:32:52.192549')
 |
 |      ``freq`` can also be a multiple of a single unit, like '5T' (i.e.  5 minutes):
 |
 |      >>> ts.ceil(freq='5T')
 |      Timestamp('2020-03-14 15:35:00')
 |
 |      or a combination of multiple units, like '1H30T' (i.e. 1 hour and 30 minutes):
 |
 |      >>> ts.ceil(freq='1H30T')
 |      Timestamp('2020-03-14 16:30:00')
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.ceil()
 |      NaT
 |
 |  combine(*args, **kwargs)
 |      Timestamp.combine(date, time)
 |
 |      Combine date, time into datetime with same date and time fields.
 |
 |      Examples
 |      --------
 |      >>> from datetime import date, time
 |      >>> pd.Timestamp.combine(date(2020, 3, 14), time(15, 30, 15))
 |      Timestamp('2020-03-14 15:30:15')
 |
 |  ctime(*args, **kwargs)
 |      Return ctime() style string.
 |
 |  date(*args, **kwargs)
 |      Return date object with same year, month and day.
 |
 |  day_name(*args, **kwargs)
 |      Return the day name of the Timestamp with specified locale.
 |
 |      Parameters
 |      ----------
 |      locale : str, default None (English locale)
 |          Locale determining the language in which to return the day name.
 |
 |      Returns
 |      -------
 |      str
 |
 |      Examples
 |      --------
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651')
 |      >>> ts.day_name()
 |      'Saturday'
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.day_name()
 |      nan
 |
 |  dst(*args, **kwargs)
 |      Return self.tzinfo.dst(self).
 |
 |  floor(*args, **kwargs)
 |      Return a new Timestamp floored to this resolution.
 |
 |      Parameters
 |      ----------
 |      freq : str
 |          Frequency string indicating the flooring resolution.
 |      ambiguous : bool or {'raise', 'NaT'}, default 'raise'
 |          The behavior is as follows:
 |
 |          * bool contains flags to determine if time is dst or not (note
 |            that this flag is only applicable for ambiguous fall dst dates).
 |          * 'NaT' will return NaT for an ambiguous time.
 |          * 'raise' will raise an AmbiguousTimeError for an ambiguous time.
 |
 |      nonexistent : {'raise', 'shift_forward', 'shift_backward, 'NaT', timedelta}, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          * 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time.
 |          * 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time.
 |          * 'NaT' will return NaT where there are nonexistent times.
 |          * timedelta objects will shift nonexistent times by the timedelta.
 |          * 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times.
 |
 |      Raises
 |      ------
 |      ValueError if the freq cannot be converted.
 |
 |      Examples
 |      --------
 |      Create a timestamp object:
 |
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651')
 |
 |      A timestamp can be floored using multiple frequency units:
 |
 |      >>> ts.floor(freq='H') # hour
 |      Timestamp('2020-03-14 15:00:00')
 |
 |      >>> ts.floor(freq='T') # minute
 |      Timestamp('2020-03-14 15:32:00')
 |
 |      >>> ts.floor(freq='S') # seconds
 |      Timestamp('2020-03-14 15:32:52')
 |
 |      >>> ts.floor(freq='N') # nanoseconds
 |      Timestamp('2020-03-14 15:32:52.192548651')
 |
 |      ``freq`` can also be a multiple of a single unit, like '5T' (i.e.  5 minutes):
 |
 |      >>> ts.floor(freq='5T')
 |      Timestamp('2020-03-14 15:30:00')
 |
 |      or a combination of multiple units, like '1H30T' (i.e. 1 hour and 30 minutes):
 |
 |      >>> ts.floor(freq='1H30T')
 |      Timestamp('2020-03-14 15:00:00')
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.floor()
 |      NaT
 |
 |  fromordinal(*args, **kwargs)
 |      Timestamp.fromordinal(ordinal, freq=None, tz=None)
 |
 |      Passed an ordinal, translate and convert to a ts.
 |      Note: by definition there cannot be any tz info on the ordinal itself.
 |
 |      Parameters
 |      ----------
 |      ordinal : int
 |          Date corresponding to a proleptic Gregorian ordinal.
 |      freq : str, DateOffset
 |          Offset to apply to the Timestamp.
 |      tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |          Time zone for the Timestamp.
 |
 |      Examples
 |      --------
 |      >>> pd.Timestamp.fromordinal(737425)
 |      Timestamp('2020-01-01 00:00:00')
 |
 |  fromtimestamp(*args, **kwargs)
 |      Timestamp.fromtimestamp(ts)
 |
 |      Transform timestamp[, tz] to tz's local time from POSIX timestamp.
 |
 |      Examples
 |      --------
 |      >>> pd.Timestamp.utcfromtimestamp(1584199972)
 |      Timestamp('2020-03-14 15:32:52')
 |
 |      Note that the output may change depending on your local time.
 |
 |  isocalendar(*args, **kwargs)
 |      Return a 3-tuple containing ISO year, week number, and weekday.
 |
 |  isoweekday(*args, **kwargs)
 |      Return the day of the week represented by the date.
 |      Monday == 1 ... Sunday == 7
 |
 |  month_name(*args, **kwargs)
 |      Return the month name of the Timestamp with specified locale.
 |
 |      Parameters
 |      ----------
 |      locale : str, default None (English locale)
 |          Locale determining the language in which to return the month name.
 |
 |      Returns
 |      -------
 |      str
 |
 |      Examples
 |      --------
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651')
 |      >>> ts.month_name()
 |      'March'
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.month_name()
 |      nan
 |
 |  now(*args, **kwargs)
 |      Timestamp.now(tz=None)
 |
 |      Return new Timestamp object representing current time local to
 |      tz.
 |
 |      Parameters
 |      ----------
 |      tz : str or timezone object, default None
 |          Timezone to localize to.
 |
 |      Examples
 |      --------
 |      >>> pd.Timestamp.now()
 |      Timestamp('2020-11-16 22:06:16.378782')
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.now()
 |      NaT
 |
 |  replace(*args, **kwargs)
 |      Implements datetime.replace, handles nanoseconds.
 |
 |      Parameters
 |      ----------
 |      year : int, optional
 |      month : int, optional
 |      day : int, optional
 |      hour : int, optional
 |      minute : int, optional
 |      second : int, optional
 |      microsecond : int, optional
 |      nanosecond : int, optional
 |      tzinfo : tz-convertible, optional
 |      fold : int, optional
 |
 |      Returns
 |      -------
 |      Timestamp with fields replaced
 |
 |      Examples
 |      --------
 |      Create a timestamp object:
 |
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651', tz='UTC')
 |      >>> ts
 |      Timestamp('2020-03-14 15:32:52.192548651+0000', tz='UTC')
 |
 |      Replace year and the hour:
 |
 |      >>> ts.replace(year=1999, hour=10)
 |      Timestamp('1999-03-14 10:32:52.192548651+0000', tz='UTC')
 |
 |      Replace timezone (not a conversion):
 |
 |      >>> import pytz
 |      >>> ts.replace(tzinfo=pytz.timezone('US/Pacific'))
 |      Timestamp('2020-03-14 15:32:52.192548651-0700', tz='US/Pacific')
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.replace(tzinfo=pytz.timezone('US/Pacific'))
 |      NaT
 |
 |  round(*args, **kwargs)
 |      Round the Timestamp to the specified resolution.
 |
 |      Parameters
 |      ----------
 |      freq : str
 |          Frequency string indicating the rounding resolution.
 |      ambiguous : bool or {'raise', 'NaT'}, default 'raise'
 |          The behavior is as follows:
 |
 |          * bool contains flags to determine if time is dst or not (note
 |            that this flag is only applicable for ambiguous fall dst dates).
 |          * 'NaT' will return NaT for an ambiguous time.
 |          * 'raise' will raise an AmbiguousTimeError for an ambiguous time.
 |
 |      nonexistent : {'raise', 'shift_forward', 'shift_backward, 'NaT', timedelta}, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          * 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time.
 |          * 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time.
 |          * 'NaT' will return NaT where there are nonexistent times.
 |          * timedelta objects will shift nonexistent times by the timedelta.
 |          * 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times.
 |
 |      Returns
 |      -------
 |      a new Timestamp rounded to the given resolution of `freq`
 |
 |      Raises
 |      ------
 |      ValueError if the freq cannot be converted
 |
 |      Examples
 |      --------
 |      Create a timestamp object:
 |
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651')
 |
 |      A timestamp can be rounded using multiple frequency units:
 |
 |      >>> ts.round(freq='H') # hour
 |      Timestamp('2020-03-14 16:00:00')
 |
 |      >>> ts.round(freq='T') # minute
 |      Timestamp('2020-03-14 15:33:00')
 |
 |      >>> ts.round(freq='S') # seconds
 |      Timestamp('2020-03-14 15:32:52')
 |
 |      >>> ts.round(freq='L') # milliseconds
 |      Timestamp('2020-03-14 15:32:52.193000')
 |
 |      ``freq`` can also be a multiple of a single unit, like '5T' (i.e.  5 minutes):
 |
 |      >>> ts.round(freq='5T')
 |      Timestamp('2020-03-14 15:35:00')
 |
 |      or a combination of multiple units, like '1H30T' (i.e. 1 hour and 30 minutes):
 |
 |      >>> ts.round(freq='1H30T')
 |      Timestamp('2020-03-14 15:00:00')
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.round()
 |      NaT
 |
 |  strftime(*args, **kwargs)
 |      Timestamp.strftime(format)
 |
 |      Return a string representing the given POSIX timestamp
 |      controlled by an explicit format string.
 |
 |      Parameters
 |      ----------
 |      format : str
 |          Format string to convert Timestamp to string.
 |          See strftime documentation for more information on the format string:
 |          https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior.
 |
 |      Examples
 |      --------
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651')
 |      >>> ts.strftime('%Y-%m-%d %X')
 |      '2020-03-14 15:32:52'
 |
 |  strptime(*args, **kwargs)
 |      Timestamp.strptime(string, format)
 |
 |      Function is not implemented. Use pd.to_datetime().
 |
 |  time(*args, **kwargs)
 |      Return time object with same time but with tzinfo=None.
 |
 |  timestamp(*args, **kwargs)
 |      Return POSIX timestamp as float.
 |
 |      Examples
 |      --------
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548')
 |      >>> ts.timestamp()
 |      1584199972.192548
 |
 |  timetuple(*args, **kwargs)
 |      Return time tuple, compatible with time.localtime().
 |
 |  timetz(*args, **kwargs)
 |      Return time object with same time and tzinfo.
 |
 |  to_pydatetime(*args, **kwargs)
 |      Convert a Timestamp object to a native Python datetime object.
 |
 |      If warn=True, issue a warning if nanoseconds is nonzero.
 |
 |      Examples
 |      --------
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548')
 |      >>> ts.to_pydatetime()
 |      datetime.datetime(2020, 3, 14, 15, 32, 52, 192548)
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.to_pydatetime()
 |      NaT
 |
 |  today(*args, **kwargs)
 |      Timestamp.today(cls, tz=None)
 |
 |      Return the current time in the local timezone.  This differs
 |      from datetime.today() in that it can be localized to a
 |      passed timezone.
 |
 |      Parameters
 |      ----------
 |      tz : str or timezone object, default None
 |          Timezone to localize to.
 |
 |      Examples
 |      --------
 |      >>> pd.Timestamp.today()
 |      Timestamp('2020-11-16 22:37:39.969883')
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.today()
 |      NaT
 |
 |  toordinal(*args, **kwargs)
 |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
 |
 |  total_seconds(*args, **kwargs)
 |      Total seconds in the duration.
 |
 |  tz_convert(*args, **kwargs)
 |      Convert tz-aware Timestamp to another time zone.
 |
 |      Parameters
 |      ----------
 |      tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |          Time zone for time which Timestamp will be converted to.
 |          None will remove timezone holding UTC time.
 |
 |      Returns
 |      -------
 |      converted : Timestamp
 |
 |      Raises
 |      ------
 |      TypeError
 |          If Timestamp is tz-naive.
 |
 |      Examples
 |      --------
 |      Create a timestamp object with UTC timezone:
 |
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651', tz='UTC')
 |      >>> ts
 |      Timestamp('2020-03-14 15:32:52.192548651+0000', tz='UTC')
 |
 |      Change to Tokyo timezone:
 |
 |      >>> ts.tz_convert(tz='Asia/Tokyo')
 |      Timestamp('2020-03-15 00:32:52.192548651+0900', tz='Asia/Tokyo')
 |
 |      Can also use ``astimezone``:
 |
 |      >>> ts.astimezone(tz='Asia/Tokyo')
 |      Timestamp('2020-03-15 00:32:52.192548651+0900', tz='Asia/Tokyo')
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.tz_convert(tz='Asia/Tokyo')
 |      NaT
 |
 |  tz_localize(*args, **kwargs)
 |      Convert naive Timestamp to local time zone, or remove
 |      timezone from tz-aware Timestamp.
 |
 |      Parameters
 |      ----------
 |      tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |          Time zone for time which Timestamp will be converted to.
 |          None will remove timezone holding local time.
 |
 |      ambiguous : bool, 'NaT', default 'raise'
 |          When clocks moved backward due to DST, ambiguous times may arise.
 |          For example in Central European Time (UTC+01), when going from
 |          03:00 DST to 02:00 non-DST, 02:30:00 local time occurs both at
 |          00:30:00 UTC and at 01:30:00 UTC. In such a situation, the
 |          `ambiguous` parameter dictates how ambiguous times should be
 |          handled.
 |
 |          The behavior is as follows:
 |
 |          * bool contains flags to determine if time is dst or not (note
 |            that this flag is only applicable for ambiguous fall dst dates).
 |          * 'NaT' will return NaT for an ambiguous time.
 |          * 'raise' will raise an AmbiguousTimeError for an ambiguous time.
 |
 |      nonexistent : 'shift_forward', 'shift_backward, 'NaT', timedelta, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          The behavior is as follows:
 |
 |          * 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time.
 |          * 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time.
 |          * 'NaT' will return NaT where there are nonexistent times.
 |          * timedelta objects will shift nonexistent times by the timedelta.
 |          * 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times.
 |
 |      Returns
 |      -------
 |      localized : Timestamp
 |
 |      Raises
 |      ------
 |      TypeError
 |          If the Timestamp is tz-aware and tz is not None.
 |
 |      Examples
 |      --------
 |      Create a naive timestamp object:
 |
 |      >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651')
 |      >>> ts
 |      Timestamp('2020-03-14 15:32:52.192548651')
 |
 |      Add 'Europe/Stockholm' as timezone:
 |
 |      >>> ts.tz_localize(tz='Europe/Stockholm')
 |      Timestamp('2020-03-14 15:32:52.192548651+0100', tz='Europe/Stockholm')
 |
 |      Analogous for ``pd.NaT``:
 |
 |      >>> pd.NaT.tz_localize()
 |      NaT
 |
 |  tzname(*args, **kwargs)
 |      Return self.tzinfo.tzname(self).
 |
 |  utcfromtimestamp(*args, **kwargs)
 |      Timestamp.utcfromtimestamp(ts)
 |
 |      Construct a naive UTC datetime from a POSIX timestamp.
 |
 |      Examples
 |      --------
 |      >>> pd.Timestamp.fromtimestamp(1584199972)
 |      Timestamp('2020-03-14 15:32:52')
 |
 |  utcnow(*args, **kwargs)

In [ ]:
# Speciying period explicitly
pd.Period('2014-06', freq='D')

Period('2014-06-01', 'D')

In [ ]:
#Use Time stamp as index
dates = [pd.Timestamp('2014-06-01'),
pd.Timestamp('2014-06-02'),
pd.Timestamp('2014-06-03')]
ts_data = pd.Series(np.random.randn(3), dates)
# type(ts_data.index)

In [ ]:
# check Index
ts_data.index

DatetimeIndex(['2014-06-01', '2014-06-02', '2014-06-03'], dtype='datetime64[ns]', freq=None)

In [ ]:
ts_data

2014-06-01   -0.210926
2014-06-02    0.025464
2014-06-03    2.927676
dtype: float64

# Assignment Solution

In [ ]:
periods = [pd.Period('2014-01'), pd.Period('2014-02'),
pd.Period('2014-03')]
ts_data = pd.Series(np.random.randn(3), periods)
type(ts_data.index)

pandas.core.indexes.period.PeriodIndex

In [ ]:
ts_data

2014-01   -0.714111
2014-02    0.546372
2014-03   -0.898589
Freq: M, dtype: float64

In [ ]:
ts_data.index

PeriodIndex(['2014-01', '2014-02', '2014-03'], dtype='period[M]')

# Converting to Time stamps

In [ ]:
#Converting Series to Time stamps
pd.to_datetime(pd.Series(['Jul 31, 2012', '2012-01-10', None]))

0   2012-07-31
1   2012-01-10
2          NaT
dtype: datetime64[ns]

In [ ]:
# Converting List to Time stamps
pd.to_datetime(['2012/11/23', '2012.12.31'])

DatetimeIndex(['2012-11-23', '2012-12-31'], dtype='datetime64[ns]', freq=None)

In [ ]:
# dayfirst=True
pd.to_datetime(['04-01-2014 10:00'], dayfirst=True)

DatetimeIndex(['2014-01-04 10:00:00'], dtype='datetime64[ns]', freq=None)

In [ ]:
# dayfirst=True with multiple dates
pd.to_datetime(['14-01-2014', '01-14-2012'], dayfirst=True)

DatetimeIndex(['2014-01-14', '2012-01-14'], dtype='datetime64[ns]', freq=None)

#Providing a Format Argument

In [ ]:
pd.to_datetime('2018/11/12', format='%Y/%m/%d')

Timestamp('2018-11-12 00:00:00')

In [ ]:
# Define Hours and Mins
pd.to_datetime('11-11-2018 00:00', format='%d-%m-%Y %H:%M')

Timestamp('2018-11-11 00:00:00')